
<!--<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <div class="container-fluid">
        <a (click)="goHome()" class="btn btn-primary btn-large" style="color:white; cursor: pointer;"><i class="fa fa-home icon-large" aria-hidden="true"></i></a>
        <h3 class="judge-name"><ng-content></ng-content></h3>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <span class="nav navbar-nav ml-auto">
                
                <span class="page_title">USA Pencak Silat Federation</span>
                <img src="./../assets/usf-logo.png" id="upsf-logo">
            </span>
        </div>
    </div>
</nav>-->

<nav class="navbar navbar-dark fixed-top bg-dark flex-sm-nowrap p-0 shadow">
    <a class="navbar-brand">
      <img src="./../assets/usf-logo.png" id="upsf-logo" alt="USA Pencak Silat Federation">
    </a>
    <span class="page_title">USA Pencak Silat Federation</span>
</nav>



<!-- <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">
    <img class="brand-logo" src="assets/logo-positronx-white.svg" alt="positronX.io Logo">
  </a>
</nav> -->



<!--
<div id="wrapper"  [ngClass]="ref.click === true? 'toggled' :''" >
<div class="overlay" [ngStyle]="{disply:ref.click === true? 'block' :'none'}" ></div>

Sidebar 
<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
  <ul class="nav sidebar-nav">
      <li class="sidebar-brand">
          <a href="#">
              Brand
          </a>
      </li>
      <li>
          <a href="#">Home</a>
      </li>
      <li>
          <a href="#">About</a>
      </li>
      <li>
          <a href="#">Events</a>
      </li>
      <li>
          <a href="#">Team</a>
      </li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          <li class="dropdown-header">Dropdown heading</li>
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
          </ul>
      </li>
      <li>
          <a href="#">Services</a>
      </li>
      <li>
          <a href="#">Contact</a>
      </li>
      <li>
          <a href="https://twitter.com/maridlcrmn">Follow me</a>
      </li>
  </ul>
</nav>
/#sidebar-wrapper 

Page Content 
<div id="page-content-wrapper">
  <button appSidebar  #ref="appSidebar" type="button" class="hamburger is-closed" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
  </button>
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              
          </div>
      </div>
  </div>
</div>
/#page-content-wrapper 
</div>-->
